.board-game {
    height: 100%;
    width: 100%;
    /* max-width: 1000px;
    max-height: 500px; */
    margin: 0 auto;
    background: radial-gradient(circle at center, #2e7d32, #1b5e20);
    border: 8px solid #4e342e;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    padding: 20px;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    justify-content: center;
    overflow: hidden;


}



/* responsividade para celular */
@media (max-width: 600px) {
    .board-game {
        height: 90vh;
        width: 85vw;
        max-height: 70vh;
        max-width: 85vw;
    }
}