.btn-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.btn-discard, .btn-reset {
    height: 40px;
    margin-top: 16px;
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 6px;
    cursor: pointer;
    background-color: #eee;
}

.btn-discard:hover,
.btn-reset:hover {
    background-color: #ddd;
}

@media (max-width: 600px) {
    .btn-container {
        flex-direction: column;
        align-items: center;
    }

    .btn-discard, .btn-reset {
        width: 100%;
        margin-top: 8px;

    }
}